section {
  align-content: center;
  font-style: oblique;
  font-weight: 600;
  background-color: #eb9900;
  background-attachment: fixed;
  height: 150vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -230px;
}

.product {
  background-color: #eb5e00;
  padding: 0.5%;
  margin: 2% 10%;
  text-align: center;
  font-size: 40px;
  background-size: auto;
  border: 3px dashed #eb9900;
  color: black;
}

#btn1 {
  text-align: center;
  margin: 0 0 10px 7%;
  background-color: #eb5e00;
  color: black;
}

#btn1:hover {
  background-color: #ce5200;
}

.modalBody {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.516);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: auto;
  top: 0;
  display: none;
  color: wheat;
}

.table {
  text-align: center;
  padding: 0 7%;
}

.table th {
  background-color: #eb5e00;
  color: black;
}

.table td {
  background-color: #eb9900;
  color: black;
}

#btn2 {
  text-align: center;
  margin: 0 10px 3px 7%;
  background-color: #eb5e00;
  color: black;
}

#btn2:hover {
  background-color: #bd4b00;
}

#btn3 {
  text-align: center;
  margin: 0 0px 3px 7%;
  background-color: #ed2400;
  color: black;
}

#btn3:hover {
  background-color: #c21e01;
}

.btn {
  font-weight: 600;
  font-style: oblique;
}

.editModalBody {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.516);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: auto;
  top: 0;
  display: none;
  color: wheat;
}

button i {
  background-color: transparent !important;
}

#close {
  text-align: center;
  margin: 0 0px 3px 7%;
  background-color: #ed2400;
}

#close:hover {
  background-color: #c21e01;
}

#save {
  text-align: center;
  margin: 0 0px 3px 7%;
  background-color: #eb5e00;
}

#save:hover {
  background-color: #ce5200;
}
